.main_block {
  background: rgba(227, 220, 194, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;

  width: 90%;
  height: 90%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 720px) {
  .main_block {
    width: 430px;
  }
}
