.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
}

.image_wrapper {
  display: flex;
  justify-content: center;
}

.login_image {
  width: 5rem;
}
