.cell_wrapper {
  width: 80%;
}

.customers_infos_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add_button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
}
