:root {
  font-family: "Space Grotesk";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #e3dcc2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_wrapper {
  background-image: url(./assets/background.svg);
  background-size: cover;
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
}

.title_wrapper {
  margin: 1.5rem 0;
  text-align: center;
}
